<!doctype html>
<html lang="en">

<head>
  <title>Insta485</title>
  <style>
    a {
      font-weight: 600;
      color: black;
      text-decoration: none;
    }
  </style>
</head>
<div style="display: flex">
  <div style="flex: 1">
    <a href="/">Insta485</a>
  </div>
  <div>
    <a href="/explore/">
      <em> explore </em>
    </a>
    |
    <a href="/users/{{logname}}/">
      <em> {{logname}} </em>
    </a>
  </div>
</div>

{% for post in posts %}
<div style="
      width: 400px;
      border-style: solid;
      border-color: black;
      border-width: 1px;
      padding: 5px;
      max-width: fit-content;
      margin-left: auto;
      margin-right: auto;
    ">
  <div style="display: flex">
    <img style="width: 30px; height: 30px" src="" alt="profile" />
    <p style="flex: 1">
      <a href="/users/{{post.owner}}/">{{post.owner}} </a>
    </p>
    <p>
      <a href="/posts/{{post.postid}}/"> {{post.created}} </a>
    </p>
  </div>
  <img style="width: 350px" src="{{post.url}}" alt="chickens" />
  <div style="padding: 5px; width: 340px">
    <p>
      {% if post.likes == 1 %} {{post.likes}} like {% else %} {{post.likes}}
      likes {% endif %}
    </p>
    {% for comment in post.comments %}
    <p>
      <a href="/users/{{comment.owner}}/">{{comment.owner}}</a>
      {{comment.text}}
    </p>
    {% endfor %}
  </div>
</div>
{% endfor %}

</html>